body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #222;
    margin: 0; padding: 20px
}

main {
    border: 1px solid black;
    border-radius: 5px;
    background-color: black;
    padding: 10px;
    text-align: center;
    color: white;
}

main a {
    color: white;
    margin-right: 50px;
}
