body.index {
    background-image: url('images/moon.png');
    background-size: 50% auto;
    background-color: #000;
    background-position: center 20px;
    background-repeat: no-repeat;
    color: white;
    font-family: "Forum";
    font-size: 24px;
}

main.index {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 2;
}

main a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Forum";
    font-size: 24px;
}

body {
    background-color: #000;
    color: white;
    font-family: "Forum";
    font-size: 18px;
}

nav {
    display: flex;
    position: relative;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-family: "Forum";
    font-size: 16px;
    margin-top: 2%;
    margin-left: 3%
}

nav img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    top: 7%;
}

main {
    position: relative;
}

main img {
    float: left;
    margin-right: 20px;
    width: 300px;
    position: relative;
    top: 150px;
}

main h1 {
    margin-left: 325px;
    position: relative;
    top: 150px;
}

main p {
    margin: 5;
    padding-left: 325px;
}

main p:first-of-type {
    margin-top: 155px;
}
